<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>E-Kart</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">E-Kart</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <!-- <li id="home"><a href="/">HOME</a></li> -->
          <!-- <li id="about"><a href="/about">ABOUT US</a></li> -->
          <% if(value){%>
          <li> 
            <form style ="margin-top:11px" class="form-inline" action="/loggedout" method="POST" >
              <input type="text" class=invisible name= loggedoutstatus  value=true>
              <input type="text" class=invisible name= email  value=<%=value.email %>>
              <input type="text" class=invisible name= password  value=<%=value.password %>>
              <button class="btn btn-sm btn-outline-secondary"   type="submit" >logout</button>
            </form>
          </li> 
          <%}%>
          <li id="contact"><a href="/contact">CONTACT-US</a></li>
          <% if(!value){ %>
          <li id="signin"><a href="/signup">signIn</a></li>
          <li id="login"><a href="/login">logIn</a></li>
          <%}%>
          
          <% if(value){%>
          <li id="Cart"><a href="/cart">cart</a></li>
          
        <li style ="margin-top:16px;"><%=value.username %></li>
        <%}%>
        </ul>


    </div>
 
  </nav>

  <style media="screen">
    .carousel-cell {
      width: 66%; 
      margin-right: 5px;
      }
  
      /* cell number */
      .carousel-cell:before {
        display: block;
      }
    </style>

  </head>

  <body>
    <div class="container">
